################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SWEndor.vshost.exe
/SWEndor.vshost.exe.config
/SWEndor.vshost.exe.manifest
/debug
/SWEndor/SWEndor.csproj.user
/SWEndor/obj
/SWEndorTest/obj
/Log
/packages/ClrHeapAllocationAnalyzer.1.0.0.8

