################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SWEndor/obj/x86/Debug
/SWEndor.vshost.exe.manifest
/debug
/fmod.dll
/MTV3D65.dll
/TV3D65.dll
/fmod64.dll
/Log/error.txt
/Log/perf.log
/SWEndor/SWEndor.csproj.user
/SWEndor/obj/x86/Release
/Report20190408-0429.diagsession
/SWEndor.psess
/SWEndor190408.vsp
/SWEndor/obj/Debug
/SWEndor/obj/Release/TempPE
/SWEndor/obj/Release/SWEndor.csprojResolveAssemblyReference.cache
/SWEndor/obj/Release/SWEndor.Properties.Resources.resources
/SWEndor/obj/Release/SWEndor.pdb
/SWEndor/obj/Release/SWEndor.GameForm.resources
/SWEndor/obj/Release/SWEndor.csproj.GenerateResource.Cache
/SWEndor/obj/Release/SWEndor.csproj.FileListAbsolute.txt
/SWEndor/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
